# Ignore all files and folders in root (to avoid project files making it to the repository):
/*

# Except for the following folders:
!/src/
!/tests/

# Except for the following files:
!.gitignore
!README.md